{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>Delete Dog Report</h1>
  <br><br><br><br><br>
  <h2 class="delete-h2">Are you sure you want to delete <span>{{ object.name }}</span>?</h2>
  <br>
  <form action="" method="POST">
    {% csrf_token %}
    <div id="confirm-delete">
      <input type="submit" value="Yes - Delete!" class="btn btn-primary btn-delete">
      <a href="{% url 'detail' dog.id %}" class="btn btn-primary btn-delete">No - Do Not Delete! </a>
    </div>
  </form>
  <br>
{% endblock %}