{% extends 'base.html' %}
{% block content %}

<br><br>
<br>
<h5>Let Four Paw Finder help you find your missing dog!</h5>
    <br>
    <hr>
    <br>
    <p id="about">Here at Four Paw Finder we help reunite missing pets with their families. 
    Sign up and create an account to connect with others to find out if there has been any sightings or updates on lost dogs. 
    Once you have an account you can upload images and descriptions of your lost dog and see what other dogs
    may be lost in your area.
</p>

{% endblock %}
