{% extends 'base.html' %}
{% block content %}


<h1 class="center-align">{{ dog.name }}</h1>
<div class="divider"></div>
<br>
<div class="row">
    <div class="col s5">
        {% if dog.picture_set.first.url != None %}
        <img src="{{dog.picture_set.first.url}}" class="card-panel main-pic">
        {% endif %}
    </div>
</div>
<div id="details">
    <p><span id="dog-status">{{dog.status}}</span></p>
    <div class="card-panel detail-panel">
        <table>
            <tbody>
                <tr>
                    <td>Breed</td>
                    <td class="table-value">{{ dog.breed }}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td class="table-value">{{ dog.age }}</td>
                </tr>
                <tr>
                    <td>Location When Lost</td>
                    <td class="table-value">{{ dog.location }}</td>
                </tr>
                <tr>
                    <td>Date Missing</td>
                    <td class="table-value">{{ dog.date_missing }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="center-align"> Description</p>
            <p> {{dog.description}}</p>
        </div>
        {% if dog.user == user %}
        <div class="edit-delete">
            {{ dog.user }}
            <a href="{% url 'dogs_update' dog.id %}">edit </a>
            <a href="{% url 'dogs_delete' dog.id %}">delete </a>
        </div>
        {% endif %}
    </div>

    <!-- temp element for s3bucket -->
    <div class="row">
        <div class="col s6">
            {% for picture in dog.picture_set.all %}
            {% if picture != dog.picture_set.first %}
            <img class="responsive-img card-panel center-align" src="{{ picture.url }}">
            {% endif %}
            {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
        </div>
    </div>

    <form action="{% url 'add_picture' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="picture-file">
        <br><br>
        <input type="submit" class="btn" value="Upload picture">
    </form>

</div>

<ul>
    {% for comment in dog.comment_set.all %}
        <div class="card">
            <div class="card-content">
            <div>
                {{ comment.content }}
                <span id="user-comment">{{ comment.user.username }}</span>
            </div>
            <p>{{ comment.date_created}}</p>
            <form method="POST" action="{% url 'delete_comment' comment.dog.id comment.id %}">
                {% csrf_token %}<input type="submit" value="DELETE">
            </form>
            <br>
            </div>
        </div>
    {% endfor %}

</ul>



<form action="{% url 'add_comment' dog.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
</form>

{% endblock %}