{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Missing Dogs</h1>

<div class="divider"></div>
<br>
<br>

<div class="row">
  <div class="col-4">
      {% for picture in dog.picture_set.all %}
      {% if picture != dog.picture_set.first %}
      <img class="img-fluid" src="{{ picture.url }}">
      {% else %}
      <div class="card-panel center-align">No Photos Uploaded</div>
      {% endif %}
      {% endfor %}
  </div>
</div>


<div class="container">
  <div class="card-group">

    <div class="row">
      {% for dog in dogs %}
        <div class="col-4 justify-content-center">
          <div class="card">
            {% if dog.picture_set.first == None %}
            <a href="{% url 'detail' dog.id %}">
              <img src="https://www.pngkit.com/png/detail/152-1527350_dog-and-cat-silhouette-silhouette.png" alt="..." class="card-img-top">
            </a>
            {% else %}
            <a href="{% url 'detail' dog.id %}">
              <img src="{{ dog.picture_set.first.url }}" alt="..." class="card-img-top">
            </a>
            {% endif %}
            <div class="card-body">
              <h2 class="card-title"> {{ dog.name }}</h5>
              <p class="card-text"> Breed: {{dog.name }} </p>
              <p class="card-text"> Location: {{dog.name }} </p>
              <p class="card-text"> Date Missing: {{dog.name }} </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="https://www.pngkit.com/png/detail/152-1527350_dog-and-cat-silhouette-silhouette.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.pngkit.com/png/detail/152-1527350_dog-and-cat-silhouette-silhouette.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
</div>

{% endblock %}